<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="noreply@plataformagroup.cl">
        <network 
          host="mail.plataformagroup.cl" 
          userName="noreply@plataformagroup.cl" 
          password="repl$1216" 
          port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>